{% extends 'base_layout.html' %}
{% load bulma_tags %}
{% block content %}

<div class="columns">
    <div class="column is-4 is-offset-4">
        <div class="card" style="margin-top: 20px;padding: 20px 50px; box-shadow: 5px 5px 15px 5px grey;">
            <form class="site-form" method="POST" action="{% url 'accounts:login' %}">
                {% csrf_token %}
                {{ form|bulma }}
                {% if request.GET.next %}
                    <input type="hidden" value="{{ request.GET.next }}" name="next">
                {% endif %}
                <button type="submit" value="Login" class="button is-success">Log in</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}