{% extends 'base_layout.html' %}


{% block content %}
<div class="article-detail columns">
    <div class="article column is-6 is-offset-3">
        <figure class="image is-128x128">
            <img class="is-rounded" style="border-style: double;" src="{{ article.thumb.url }}">
        </figure>
        
        <h2 class="is-size-3" style="font-weight: bold;">
            {{ article.title }}
        </h2>
        <p style="font-size: 0.8rem;" >
            {{ article.author }}
        </p>
        <p style="font-size: 0.8rem;" >
            {{ article.date }}
        </p>
        <p>
            {{ article.body }}
        </p>

    </div>
</div>
{% endblock %}